version: '3.8'
services:
  rust-backend:
    build: ./rust-backend
    ports:
      - "3000:3000"
  aws-lambda:
    build: ./aws-lambda
  pytorch-model:
    build: ./pytorch-model
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
  redis:
    image: redis:6
    ports:
      - "6379:6379"
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  pinecone:
    image: pinecone/pinecone
    ports:
      - "8108:8108"
